*{
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1170px;
    margin: 0 auto;
}

.header__inner{
    width: 100%;
    max-width: 1170px;
	display: flex;
	position: absolute;
    justify-content: space-between;
}
.header__logo{
	margin-top: 45px;
	color: white;
	font-size: 24px;
}
.header__nav{
	margin-top: 45px;
	display: flex;
}
.header__nav a {
	text-decoration: none;
	color: white;
	margin-left: 10%;
	font-size: 18px;
}
.header__icon{
    filter: brightness(10);
	margin-top: 45px;
}
.header__mobile {
    display: none;
}
/*------ SCREEN ------*/
.first__screen{
    width: 100%;
    background-color: #648cff;
    height: 1000px;
    color: white;
}

.screen__inner {
    display: flex;
    justify-content: space-between;
}

.screen__info{
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    width: 35%;
}

.screen__title{
    font-size: 40pt;
    z-index: 4;
}
.screen__subtitle{
    font-size: 18pt;
    margin-top: 10px;
    z-index: 4;
}
.screen__image{
    margin-top: 210px;
    z-index: 4;
    width: 45%;
}

.screen__buttons{
    display: flex;
    font-size: 18pt;
    justify-content: space-between;
    margin-top: 70px;

    z-index: 4;
}
.screen__button1{
    padding: 17px 40px;
    background-color: #fc6a42;
    text-decoration: none;
    color: white;
    border-radius: 3px;

    z-index: 4;
}
.screen__button2{
    padding: 17px 40px;
    background-color: #4466c9;
    text-decoration: none;
    color: white;
    border-radius: 3px
}

.screen__circle1{
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: #fc6a42;
    border-radius: 100%;
    position: absolute;
    margin-top: 280px;
    margin-left: -110px;
}
.screen__circle2{
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: white;
    border-radius: 100%;
    color: #648cff;
    position: absolute;
    margin-top: 90px;
    margin-left: 330px;
}
.screen__circle3{
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: #4466c9;
    border-radius: 100%;
    position: absolute;
    margin-top: 260px;
    margin-left: 360px;
}
.screen__circle4{
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #fcec64;
    border-radius: 100%;
    color: #648cff;
    position: absolute;
    margin-top: 560px;
    margin-left: 360px;
}

.screen__wave{
    margin-top: -230px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wave__one{
    background-image: url("img/wave-one.png");
    background-repeat: repeat-x;
    height: 450px;
    width: 7000px;
    position: absolute;
    top: 0;
    animation: waves 50s infinite linear;
}

.wave__two{
    background-image: url("img/wave-two.png");
    background-repeat: repeat-x;
    height: 450px;
    width: 7000px;
    position: relative;
    top: 0;
    animation: waves 50s infinite linear;
}

@keyframes waves {
    0%{
        margin-left: 0;
    }
    100% {
        margin-left: -1900px;
    }

}
/*------ FEATURES ------*/
.features__title{
text-align: center;
font-size: 36pt;
margin-top: 130px;
color: #648cff;
}

.features__subtitle{
text-align: center;
font-size: 18pt;
margin-top: 30px;
color: #999999;
}

.features__info{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 100px;
}

.features__item{
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.features__text{
	margin-left: 2%;
}

.features__tt{
font-size: 24pt;
color: #353854;
font-weight: 700;
}

.features__stt{
font-size: 16pt;
color: #999999;
margin-top: 2%;
}

/*------ WIDGETS ------*/
.widgets{
	margin-top: 150px;
}

.widgets__title{
text-align: center;
font-size: 36pt;
margin-top: 130px;
color: #648cff;
}

.widgets__subtitle{
text-align: center;
font-size: 18pt;
margin-top: 30px;
color: #999999;
}

.widgets__block{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;
	margin-top: 120px;
    width: 100%;
}



.widget {
	display: none;
}
.widget__active{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    flex-wrap: nowrap;
}

.widget__left{
	position: relative;
	left: 20%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}
.widget__middle{
	position: relative;
	z-index: 4;
	transform: scaleY(1.2);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}
.widget__right{
	position: relative;
	right: 20%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}
.prebtn{
	font-size: 32px;
	height: 55px;
    width: 3%;
	background-color: white;
}
.nextbtn{
	font-size: 32px;
	height: 55px;
	background-color: white;
    width: 3%;
}

/*------ MODEL ------*/
.model__inner{

}
.model__title{
	margin-top: 150px;
	text-align: center;
	font-size: 36pt;
	color: #648cff;
}

.model__subtitle{
text-align: center;
font-size: 18pt;
margin-top: 30px;
color: #999999;
}

.model__block{
	display: flex;
	flex-direction: column;
}

.model__item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 200px;
}

.model__img{
	width: 40%;
}
.model__text{
	margin-top: 10%;
	width: 50%;
}
.model__tt{
	font-size: 36pt;
	color: #648cff;
}

.model__stt{
	font-size: 24pt;
	margin-top: 30px;
	color: #999999;
}
.model__elem2 {
	margin-top: 5%;
}

/*------ REVIEWS ------*/

.reviews__inner{

}

.reviews__title{
	margin-top: 150px;
	text-align: center;
	font-size: 36pt;
	color: #648cff;
}

.reviews__subtitle{
text-align: center;
font-size: 18pt;
margin-top: 30px;
color: #999999;
}

.reviews__block1, .reviews__block2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.reviews__block1{
	margin-top: 10%;
}

.reviews__item{
	display: flex;
	flex-direction: column;
	width: 45%;
}

.reviews__text{
color: #353854;
font-size: 24pt;
}

.reviews__author{
color: #353854;
font-size: 18pt;
}
.reviews__elem{
	font-size: 41pt;
	color: #648cff;
}

/*------ DOWNLOAD ------*/

.download{
	background-color: #648cff;
}

.download__inner{
	display: flex;
	flex-direction: row;
}

.download__title{
	margin-top: 100px;
	text-align: left;
	font-size: 36pt;
	color: white;
}

.download__text{
	width: 40%;
}
.download__subtitle{
	text-align: left;
	font-size: 18pt;
	margin-top: 30px;
	color: white;
}

.download__icon{
	margin-top: 30px;
	display: flex;
}

.download__img{
	display: flex;
	flex-direction: row;
	width: 40%;
    margin-left: -10%;
}

.download-phone-l{
	position: relative;
	right: -30%;
	margin-top: 25%;
}

.download-phone-m{
	position: relative;
	z-index: 4;
	margin-top: 15%;
}

.download-phone-r{
	position: relative;
	left: -30%;
	margin-top: 25%;
}

/*------ FOOTER ------*/

footer {
	position: relative;
	background-color: #353854;
	z-index: 6;
}
.footer__item{
	z-index: 6;
	margin-top: -250px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo{
	margin-top: 120px;
	font-size: 24px;
	color: #648cff;
	text-transform: uppercase;
}

nav {
	margin-top: 120px;
	width: 60%;
	display: flex;
}
nav a {
	text-decoration: none;
	color: white;
	margin-left: 10%;
	font-size: 18px;
}
.nav__icon{
	margin-top: 120px;
}
.footer__line{
	height: 1px;
	background-color: white;
	margin-top: 80px;
}
.footer__author{
	margin-top: 50px;
	color: white;
	text-align: right;
}

.footer__end{
	margin-top: 50px;
	color: #353854;
}

/*
    -------------------------------------------------------------------------------------------
    ---------------------------------- MEDIA---------------------------------------------------
    -------------------------------------------------------------------------------------------
    1200px
    ≥992px
    ≥768px
    ≥576px
    <576px
    */
 @media(min-width: 992px) and (max-width: 1200px) {
     .download-phone-l{
         position: relative;
         right: -35%;
         margin-top: 25%;
         transform: scale(0.6);
     }

     .download-phone-m{
         position: relative;
         z-index: 4;
         margin-top: 15%;
         transform: scale(0.6);
     }

     .download-phone-r{
         position: relative;
         left: -35%;
         margin-top: 25%;
         transform: scale(0.6);
     }
     .header__mobile {
         display: none;
     }

 }

@media(min-width: 768px) and (max-width: 991.99999px) {
    /*---- download ----*/
    .download__inner{
        display: flex;
        flex-direction: column;
    }
    .download__title{
        margin-top: 100px;
        text-align: center;
    }
    .download__subtitle{
        text-align: center;
    }
    .download__text{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .download__icon{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .download__img{
        display: flex;
        flex-direction: row;
        margin-left: 1%;
    }
    .download-phone-l{
        position: relative;
        right: -45%;
        margin-top: 25%;
        transform: scale(0.6);
    }

    .download-phone-m{
        position: relative;
        z-index: 4;
        margin-top: 15%;
        transform: scale(0.6);
    }

    .download-phone-r{
        position: relative;
        left: -45%;
        margin-top: 25%;
        transform: scale(0.6);
    }
/*---- screen ----*/
    .screen__circle1{
        display: none;
    }
    .screen__circle2{
        display: none;
    }
    .screen__circle3{
        display: none;
    }
    .screen__circle4{
        display: none;
    }
    /*---- widget  ----*/
    .widget__active{
        display: flex;
        flex-direction: row;

        align-items: flex-end;
        width: 80%;
        flex-wrap: nowrap;
    }

    .widget__left{
        position: relative;
        transform: scale(0.8);
        left: 25%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .widget__middle{
        position: relative;
        transform: scale(0.85);
        z-index: 4;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .widget__right{
        position: relative;
        transform: scale(0.8);
        right: 25%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
}
@media(min-width: 576px) and (max-width: 767.99999px) {

    .screen__inner {
        display: flex;
        flex-direction: column;
    }
    .first__screen{
        width: 100%;
        background-color: #648cff;
        height: 1400px;
        color: white;
    }

    .screen__info{
        margin-top: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .screen__title{
        text-align: center;
        font-size: 35pt;
        z-index: 4;
    }
    .screen__subtitle{
        text-align: center;
        font-size: 18pt;
        margin-top: 20px;
        z-index: 4;
    }
    .screen__image{
        margin-left: 25%;
        margin-top: 140px;
        z-index: 4;
        width: 100%;
    }

    .screen__buttons{
        display: flex;
        font-size: 18pt;
        justify-content: center;
        margin-top: 70px;
        z-index: 4;
    }
    .screen__button1{
        padding: 15px 35px;
        background-color: #fc6a42;
        text-decoration: none;
        color: white;
        border-radius: 3px;
        margin-right: 5px;
        z-index: 4;
    }
    .screen__button2{
        margin-left: 5px;
        padding: 15px 35px;
        background-color: #4466c9;
        text-decoration: none;
        color: white;
        border-radius: 3px
    }

    .screen__circle1{
        width: 90px;
        height: 90px;
        text-align: center;
        background-color: #fc6a42;
        border-radius: 100%;
        position: absolute;
    }
    .screen__circle2{
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: white;
        border-radius: 100%;
        color: #648cff;
        position: absolute;
    }
    .screen__circle3{
        width: 90px;
        height: 90px;
        text-align: center;
        background-color: #4466c9;
        border-radius: 100%;
        position: absolute;
        margin-top: 260px;
        margin-left: 300px;
    }
    .screen__circle4{
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: #fcec64;
        border-radius: 100%;
        color: #648cff;
        position: absolute;
    }

    .screen__wave{
        margin-top: -200px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .wave__one{
        background-image: url("img/wave-one.png");
        background-repeat: repeat-x;
        height: 450px;
        width: 7000px;
        position: absolute;
        top: 0;
        animation: waves 50s infinite linear;
    }

    .wave__two{
        background-image: url("img/wave-two.png");
        background-repeat: repeat-x;
        height: 450px;
        width: 7000px;
        position: relative;
        top: 0;
        animation: waves 50s infinite linear;
    }

    .features__info{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .features__item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .features__text{
        width: 70%;
        text-align: center;
        margin-left: 5%;
    }

    .features__tt{
        font-size: 24pt;
        color: #353854;
        font-weight: 700;

    }

    .features__stt{
        font-size: 16pt;
        color: #999999;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: left;
    }

    /*---- widget  ----*/
    .widget__active{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 80%;
        flex-wrap: nowrap;
    }

    .widget__left{
        position: relative;
        transform: scale(0.6);
        left: 35%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .widget__middle{
        position: relative;
        transform: scale(0.65);
        z-index: 4;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .widget__right{
        position: relative;
        transform: scale(0.6);
        right: 35%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .prebtn{
        font-size: 22px;
        height: 55px;
        width: 4%;
        background-color: white;
    }
    .nextbtn{
        font-size: 22px;
        height: 55px;
        background-color: white;
        width: 4%;
    }

    /*------ MODEL ------*/
    .model__title{
        margin-top: 150px;
        text-align: center;
        font-size: 36pt;
        color: #648cff;
    }

    .model__subtitle{
        text-align: center;
        font-size: 18pt;
        margin-top: 30px;
        color: #999999;
        margin-bottom: 50px;
    }

    .model__block{
        display: flex;
        flex-direction: column;

    }

    .model__item{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: -30px;
    }

    .model__img{
        width: 40%;
        transform: scale(0.6);
    }
    .model__text{
        margin-top: 10%;
        width: 50%;
    }
    .model__tt{
        font-size: 26pt;
        color: #648cff;
    }

    .model__stt{
        font-size: 14pt;
        margin-top: 30px;
        color: #999999;
    }
    .model__elem2 {
        margin-top: 5%;
    }

    /*------ REVIEWS ------*/

    .reviews__inner{

    }


    .reviews__block1, .reviews__block2{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }


    .reviews__item{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .reviews__text{
        color: #353854;
        font-size: 24pt;
    }

    .reviews__author{
        color: #353854;
        font-size: 18pt;
    }
    .reviews__elem{
        font-size: 41pt;
        color: #648cff;
    }

    /*---- download ----*/
    .download__inner{
        display: flex;
        flex-direction: column;
    }
    .download__title{
        margin-top: 100px;
        text-align: center;
    }
    .download__subtitle{
        text-align: center;
    }
    .download__text{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .download__icon{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .download__img{
        display: flex;
        flex-direction: row;
        margin-left: 1%;
    }
    .download-phone-l{
        position: relative;
        margin-top: 25%;
        transform: scale(0.6);
        margin-left: -70px;
    }

    .download-phone-m{
        position: relative;
        z-index: 4;
        margin-left: -70px;
        margin-top: 15%;
        transform: scale(0.6);
    }

    .download-phone-r{
        position: relative;
        margin-left: -70px;
        margin-top: 25%;
        transform: scale(0.6);
    }
}

@media (min-width: 590px) and (max-width: 767.99999px) {

    .screen__inner {
        display: flex;
        flex-direction: column;
    }
    .first__screen{
        width: 100%;
        background-color: #648cff;
        height: 1400px;
        color: white;
    }

    .screen__info{
        margin-top: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .screen__title{
        text-align: center;
        font-size: 35pt;
        z-index: 4;
    }
    .screen__subtitle{
        text-align: center;
        font-size: 18pt;
        margin-top: 20px;
        z-index: 4;
    }
    .screen__image{
        margin-left: 25%;
        margin-top: 140px;
        z-index: 4;
        width: 100%;
    }

    .screen__buttons{
        display: flex;
        font-size: 18pt;
        justify-content: center;
        margin-top: 70px;
        z-index: 4;
    }
    .screen__button1{
        padding: 15px 35px;
        background-color: #fc6a42;
        text-decoration: none;
        color: white;
        border-radius: 3px;
        margin-right: 5px;
        z-index: 4;
    }
    .screen__button2{
        margin-left: 5px;
        padding: 15px 35px;
        background-color: #4466c9;
        text-decoration: none;
        color: white;
        border-radius: 3px
    }

    .screen__circle1{
        width: 90px;
        height: 90px;
        text-align: center;
        background-color: #fc6a42;
        border-radius: 100%;
        position: absolute;
    }
    .screen__circle2{
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: white;
        border-radius: 100%;
        color: #648cff;
        position: absolute;
    }
    .screen__circle3{
        width: 90px;
        height: 90px;
        text-align: center;
        background-color: #4466c9;
        border-radius: 100%;
        position: absolute;
        margin-top: 260px;
        margin-left: 300px;
    }
    .screen__circle4{
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: #fcec64;
        border-radius: 100%;
        color: #648cff;
        position: absolute;
    }

    .screen__wave{
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .wave__one{
        background-image: url("img/wave-one.png");
        background-repeat: repeat-x;
        height: 450px;
        width: 7000px;
        position: absolute;
        top: 0;
        animation: waves 50s infinite linear;
    }

    .wave__two{
        background-image: url("img/wave-two.png");
        background-repeat: repeat-x;
        height: 450px;
        width: 7000px;
        position: relative;
        top: 0;
        animation: waves 50s infinite linear;
    }

    .features__info{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .features__item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .features__text{
        width: 70%;
        text-align: center;
        margin-left: 5%;
    }

    .features__tt{
        font-size: 24pt;
        color: #353854;
        font-weight: 700;

    }

    .features__stt{
        font-size: 16pt;
        color: #999999;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: left;
    }

    /*---- widget  ----*/
    .widget__active{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 80%;
        flex-wrap: nowrap;
    }

    .widget__left{
        position: relative;
        transform: scale(0.6);
        left: 35%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .widget__middle{
        position: relative;
        transform: scale(0.65);
        z-index: 4;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .widget__right{
        position: relative;
        transform: scale(0.6);
        right: 35%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .prebtn{
        font-size: 22px;
        height: 55px;
        width: 4%;
        background-color: white;
    }
    .nextbtn{
        font-size: 22px;
        height: 55px;
        background-color: white;
        width: 4%;
    }

    /*------ MODEL ------*/
    .model__title{
        margin-top: 150px;
        text-align: center;
        font-size: 36pt;
        color: #648cff;
    }

    .model__subtitle{
        text-align: center;
        font-size: 18pt;
        margin-top: 30px;
        color: #999999;
        margin-bottom: 50px;
    }

    .model__block{
        display: flex;
        flex-direction: column;

    }

    .model__item{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: -30px;
    }

    .model__img{
        width: 40%;
        transform: scale(0.6);
    }
    .model__text{
        margin-top: 10%;
        width: 50%;
    }
    .model__tt{
        font-size: 26pt;
        color: #648cff;
    }

    .model__stt{
        font-size: 14pt;
        margin-top: 30px;
        color: #999999;
    }
    .model__elem2 {
        margin-top: 5%;
    }

    /*------ REVIEWS ------*/

    .reviews__inner{

    }


    .reviews__block1, .reviews__block2{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }


    .reviews__item{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .reviews__text{
        color: #353854;
        font-size: 24pt;
    }

    .reviews__author{
        color: #353854;
        font-size: 18pt;
    }
    .reviews__elem{
        font-size: 41pt;
        color: #648cff;
    }

    /*---- download ----*/
    .download__inner{
        display: flex;
        flex-direction: column;
    }
    .download__title{
        margin-top: 100px;
        text-align: center;
    }
    .download__subtitle{
        text-align: center;
    }
    .download__text{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .download__icon{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .download__img{
        display: flex;
        flex-direction: row;
        margin-left: 1%;
    }
    .download-phone-l{
        position: relative;
        margin-top: 25%;
        transform: scale(0.6);
        margin-left: -70px;
    }

    .download-phone-m{
        position: relative;
        z-index: 4;
        margin-left: -70px;
        margin-top: 15%;
        transform: scale(0.6);
    }

    .download-phone-r{
        position: relative;
        margin-left: -70px;
        margin-top: 25%;
        transform: scale(0.6);
    }


    .footer__item{

        flex-direction: column;
    }

    .logo{
        text-align: center;
        margin-top: 120px;
        font-size: 24px;
        color: #648cff;
        text-transform: uppercase;
    }

    nav {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

    }
    nav a {
        text-decoration: none;
        color: white;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
    }
    .nav__icon{
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__line{
        height: 1px;
        background-color: white;
        margin-top: 80px;
    }
    .footer__author{
        margin-top: 30px;
        color: white;
        text-align: center;
    }

    .footer__end{
        margin-top: 50px;
        color: #353854;
    }

    body {
        overflow-x: hidden;
    }
    header {
        display: none;
    }
}
@media(max-width: 589.99999px) {
    body {
        overflow-x: hidden;
    }

    .screen__inner {
        display: flex;
        flex-direction: column;
    }
    .first__screen{
        width: 100%;
        background-color: #648cff;
        height: 1400px;
        color: white;
    }

    .screen__info{
        margin-top: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .screen__title{
        text-align: center;
        font-size: 35pt;
        z-index: 4;
    }
    .screen__subtitle{
        text-align: center;
        font-size: 18pt;
        margin-top: 20px;
        z-index: 4;
    }
    .screen__image{
        margin-left: 10%;
        margin-top: 140px;
        z-index: 4;
        width: 100%;
        transform: scale(0.7);
    }

    .screen__buttons{
        display: flex;
        font-size: 18pt;
        justify-content: center;
        margin-top: 70px;
        z-index: 4;
    }
    .screen__button1{
        padding: 15px 35px;
        background-color: #fc6a42;
        text-decoration: none;
        color: white;
        border-radius: 3px;
        margin-right: 5px;
        z-index: 4;
    }
    .screen__button2{
        margin-left: 5px;
        padding: 15px 35px;
        background-color: #4466c9;
        text-decoration: none;
        color: white;
        border-radius: 3px
    }

    .screen__circle1{
        width: 90px;
        height: 90px;
        text-align: center;
        background-color: #fc6a42;
        border-radius: 100%;
        position: absolute;
    }
    .screen__circle2{
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: white;
        border-radius: 100%;
        color: #648cff;
        position: absolute;
    }
    .screen__circle3{
        width: 90px;
        height: 90px;
        text-align: center;
        background-color: #4466c9;
        border-radius: 100%;
        position: absolute;
        margin-top: 260px;
        margin-left: 300px;
    }
    .screen__circle4{
        display: none;
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: #fcec64;
        border-radius: 100%;
        color: #648cff;
        position: absolute;
    }

    .screen__wave{
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .wave__one{
        background-image: url("img/wave-one.png");
        background-repeat: repeat-x;
        height: 450px;
        width: 7000px;
        position: absolute;
        top: 0;
        animation: waves 50s infinite linear;
    }

    .wave__two{
        background-image: url("img/wave-two.png");
        background-repeat: repeat-x;
        height: 450px;
        width: 7000px;
        position: relative;
        top: 0;
        animation: waves 50s infinite linear;
    }

    .features__info{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .features__item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .features__text{
        width: 70%;
        text-align: center;
        margin-left: 5%;
    }

    .features__tt{
        font-size: 24pt;
        color: #353854;
        font-weight: 700;

    }

    .features__stt{
        font-size: 16pt;
        color: #999999;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: left;
    }

    /*---- widget  ----*/
    .widget__active{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 80%;
        flex-wrap: nowrap;
        margin-top: -150px;
        margin-bottom: -150px;
    }

    .widget__left{
        position: relative;
        transform: scale(0.4);
        left: 75%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .widget__middle{
        position: relative;
        transform: scale(0.45);
        z-index: 4;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .widget__right{
        position: relative;
        transform: scale(0.4);
        right: 75%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
    }
    .prebtn{
        font-size: 22px;
        height: 55px;
        width: 6%;
        background-color: white;
    }
    .nextbtn{
        font-size: 22px;
        height: 55px;
        background-color: white;
        width: 6%;
    }

    /*------ MODEL ------*/
    .model__title{
        margin-top: 150px;
        text-align: center;
        font-size: 36pt;
        color: #648cff;
    }

    .model__subtitle{
        text-align: center;
        font-size: 18pt;
        margin-top: 30px;
        color: #999999;
        margin-bottom: 50px;
    }

    .model__block{
        display: flex;
        flex-direction: column;

    }

    .model__item{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: -30px;
    }

    .model__img{
        width: 40%;
        transform: scale(0.4);
    }
    .model__text{
        margin-top: 10%;
        width: 50%;
    }
    .model__tt{
        font-size: 26pt;
        color: #648cff;
    }

    .model__stt{
        font-size: 14pt;
        margin-top: 30px;
        color: #999999;
    }
    .model__elem2 {
        margin-top: 5%;
    }

    /*------ REVIEWS ------*/

    .reviews__inner{

    }


    .reviews__block1, .reviews__block2{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }


    .reviews__item{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .reviews__text{
        color: #353854;
        font-size: 24pt;
    }

    .reviews__author{
        color: #353854;
        font-size: 18pt;
    }
    .reviews__elem{
        font-size: 41pt;
        color: #648cff;
    }

    /*---- download ----*/
    .download__inner{
        display: flex;
        flex-direction: column;
    }
    .download__title{
        margin-top: 100px;
        text-align: center;
    }
    .download__subtitle{
        text-align: center;
    }
    .download__text{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .download__icon{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .download__img{
        display: flex;
        flex-direction: row;
        margin-left: 1%;
    }
    .download-phone-l{
        position: relative;
        margin-top: 25%;
        transform: scale(0.4);
        margin-left: -100px;
    }

    .download-phone-m{
        position: relative;
        z-index: 4;
        margin-left: -150px;
        margin-top: 15%;
        transform: scale(0.4);
    }

    .download-phone-r{
        position: relative;
        margin-left: -150px;
        margin-top: 25%;
        transform: scale(0.4);
    }


    .footer__item{

        flex-direction: column;
    }

    .logo{
        text-align: center;
        margin-top: 120px;
        font-size: 24px;
        color: #648cff;
        text-transform: uppercase;
    }

    nav {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

    }
    nav a {
        text-decoration: none;
        color: white;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
    }
    .nav__icon{
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__line{
        height: 1px;
        background-color: white;
        margin-top: 80px;
    }
    .footer__author{
        margin-top: 30px;
        color: white;
        text-align: center;
    }

    .footer__end{
        margin-top: 50px;
        color: #353854;
    }
    header {
        display: none;
    }

}