*{
    margin: 0;
    padding: 0;
}
html,
body {
    color: black;
    font-size: 12px;
    font-family: 'Gilroy',  sans-serif;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
ul{
    list-style-type: none;
}


/**---- HEADER ----*/

.header__menu{
    background-color: #3959e0;
    font-size: 12px;
}
.menu__item{
    padding: 25px 10px 25px 10px;
    border-left: #3251d2 1px solid;
}
.menu__left{
    background-color: #3959e0;
}
.menu__right{
   position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
    margin-right: 0;
}
.menu__right:before{
    content: "";
    position: absolute;
    right: -1000%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #ffdc76;
}
.menu__item a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}
.menu__right a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header__items{
    margin-top: 30px;
}
.header__work{
    margin-left: 10px;
}
.header__phone{
    margin-left: 10px;
}
.logo__info{
    color: #3251d2;
    font-weight: 600;
}

.logo__name{
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: "Myriad Pro", sans-serif;
}

.work__time{
    color: #8c9397;
}
.work__address{
    font-size: 17px;
}

.phone__info{
    color: #8c9397;
}
.phone__number a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

/**---- BANNER ----*/

.banner{
   background: url("../img/bg-banner.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    margin-top: 20px;
}

.banner__item1{
    width: 44%;
    position: relative;
    z-index: 1;
    opacity: 0.9;
}
.banner__item1:before{
    content: "";
    position: absolute;
    left: -1000%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(57 89 224);
}
.banner__item2{
    width: 23%;
}
.banner__item3{
    width: 33%;
    background-color: rgb(57 89 224);
    opacity: 0.9;
    position: relative;
    z-index: 1;
}
.banner__item3:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -1000%;
    z-index: -1;
    background-color: rgb(57 89 224);
}
.banner__item4{
    width: 44%;
    position: relative;
    z-index: 1;
}
.banner__item4:before{
    content: "";
    position: absolute;
    left: -1000%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(50, 70, 156, 0.7);
}
.banner__item5{
    width: 25%;
    background-color: rgba(57, 89, 224, 0.9);
}
.banner__item6{
    width: 33%;
    position: relative;
z-index: 1;
}
.banner__item6:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -1000%;
    z-index: -1;
    background-image: url("../img/bg-banner-2.jpg");
}
.banner__item1 p{
    font-family: 'Gilroy ExtraBold', sans-serif;
     color: white;
     font-size: 50px;
     width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
 }

.banner__item3 p{
    color: white;
    font-size: 25px;
    width: 60%;
    margin-left: 10%;
    margin-top: 10%;
}

.banner__item4 p{
    color: white;
    font-size: 25px;
    width: 80%;
    margin-top: 15%;
}
.banner__item5 p{
    color: white;
    font-size: 25px;
    width: 85%;
    margin-left: 10%;
    margin-top: 10%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.banner__btn{
    background-color: #ffdc76;
    width: 45%;
    margin-right: 30%;
    margin-top: 10%;
    padding: 10px;
}
.banner__btn a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.banner__play{
    position: relative;
    top: 100%;
    left: 0;
    transform: translate(50%, -50%);
}

/**---- ABOUT ----*/

.about__inner{
    margin-top: 125px;
}

.about__title{
    font-size: 55px;
    color: #3251d2;
}

.about__item p{
    margin-top: 30px;
    font-size: 22px;
    color: #1b172d;
}
/**---- SERVICES ----*/

.services__inner{
    margin-top: 200px;
}

.services__item{
    margin-top: 100px;
}

.services__title{
    font-size: 46px;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
}

.services__info p{
    font-size: 19px;
    color: #8c9397;
}
.services__btn{
    background-color: #ffdc76;
    width: 45%;
    padding: 10px;
}
.services__btn a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
/**---- FOOTER ----*/
footer{
    font-size: 22px;
}
.footer__line{
    background-color: #3251d2;
    height: 60px;
}
.footer__items{
    padding-top: 40px;
    background-color: #3959e0;
    color: white;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
}
.footer__items:before{
    content: "";
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #3959e0;
}
.footer__download{
    font-size: 20px;
}
.footer__title{
   margin-top: -60px;
    color: white;
    font-size: 30px;
}
.footer__item{
    margin-top: 40px;
}
.footer__social{
    margin-top: 50px;
    margin-left: 10%;
}
.phone__info,.work__time,.download__text{
    font-size: 14px;
    color: darkgray;
}
.footer__vk{
    padding: 5px 10px;
    background-color: #3251d2;
}
.footer__inst{
    padding: 5px 10px;
    background-color: #3251d2;
    margin-left: 5px;
}
.footer__wats{
    padding: 5px 10px;
    background-color: #3251d2;
    margin-left: 5px;
}
.footer__vk img{
    filter: grayscale(1) brightness(1000%);
}
.footer__inst img{
    filter: grayscale(1) brightness(1000%);
}
.footer__wats img{
    filter: grayscale(1) brightness(1000%);
}
.footer__item img{
    filter: grayscale(1) brightness(1000%);
}
.footer__politics{
    margin-left: 10%;
    color: #8c9397;
}
/**---- MEDIA ----*/
@media (min-width: 100px) and (max-width: 989.99px){

    li{
        margin-top: 5px;
    }

    .header__social{
        margin-top: 15px;
    }
     .header__social a:not(:first-child){
        margin-left: 15px;
    }
    .header__toggle{
        font-size: 40px;
        margin-right: 5%;
        cursor: pointer;
    }
    .mobile__menu{
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
        display: flex;
        position: relative;
        z-index: 2;
    }
    .mobile__menu:before{
        content: "";
        position: absolute;
        left: -1000%;
        right: -1000%;
        bottom: -1000%;
        top: 0;
        background-color: rgba(255, 255, 255, 1);
        z-index: -1;
    }

    .mobile__exit{
        margin-top: 5px;
        font-size: 25px;
        cursor: pointer;
    }
    .mobile__no{
        display: none;
    }
    .mobile__item{
        width: 90%;
    }
    .mobile__item a{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    .mobile__item a:hover{
        color: #8c9397;
    }
    .logo__name{
        font-size: 16px;
        margin-top: 0;
    }
    .logo__info{

        font-size: 11px;
    }

    /**---- banner ----*/
    .banner{
        background-color: rgba(0, 0, 0, 0.7);
    }
    .banner__item1{
        width: 100%;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .banner__item1:before{
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        left: -1000%;
        bottom: 0;
        right: -1000%;
    }
    .banner__item4{
        width: 100%;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .banner__item4:before{
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        left: -1000%;
        bottom: 0;
        right: -1000%;

    }
    .banner__item1 p{
        color: white;
        width: 80%;
        font-size: 38px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .banner__item4 p{
        margin-top: 0;
        width: 80%;
        font-size: 28px;
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .banner__btn{
        background-color: #ffdc76;
        width: 45%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    /**---- about ----*/
    .about__inner{
        margin-top: 15px;
    }
    .about__title{
        text-align: center;
        font-size: 42px;
        color: #3251d2;
    }

    .about__item p{
        margin-top: 22px;
        margin-bottom: 30px;
        font-size: 20px;
        color: #1b172d;
    }
    /**---- services ----*/
    .services__inner{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .services__item{
        margin-top: 40px;
    }
    .services__btn{
        margin-top: 30px;
        background-color: #ffdc76;
        width: 50%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .services__title{
        font-size: 34px;
        text-align: center;
        margin-top: 60px;
        font-weight: bold;
    }
    .services__info p{
        margin-top: 18px;
    }
    .services__img{
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    /**---- footer ----*/
    .footer__download{
        font-size: 20px;
    }
    .footer__title{
        margin-top: 10px;
        font-size: 20px;
    }
    .footer__item{
        margin-top: 10px;
    }
    .footer__social{
        margin-top: 10px;
        margin-left: 0;
    }
    .footer__politics{
        text-align: center;
    }
}
@media (min-width: 989.99px) and (max-width: 1215.99px){

    .menu__item a {
        font-size: 10px;
    }


}