*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-size: 12px;
    font-family: 'Gilroy',  sans-serif;
}

ul{
    list-style-type: none;
}


/**---- HEADER ----*/

.header__menu{
    background-color: #3959e0;
    font-size: 12px;
}
.menu__item{
    padding: 25px 10px 25px 10px;
    border-left: #3251d2 1px solid;
}
.menu__left{
    background-color: #3959e0;
}
.menu__right{
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: #ffdc76;
}
.menu__item a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}
.menu__right a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header__items{
    margin-top: 30px;
}

.logo__info{
    color: #3251d2;
    font-weight: 600;
}

.logo__name{
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: "Myriad Pro", sans-serif;
}

.work__time{
    color: #8c9397;
}
.work__address{
    font-size: 17px;
}

.phone__info{
    color: #8c9397;
}
.phone__number a{
    font-size: 17px;
    color: black;
    text-decoration: none;
}

/**---- BANNER ----*/

.banner{
   background: url("../img/bg-banner.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    margin-top: 20px;
    height: 80vh;
}

.banner__item1{
    width: 44%;
    height: 40vh;
    background-color: rgb(57 89 224);
    opacity: 0.9;
}
.banner__item2{
    width: 23%;
    height: 40vh;
}
.banner__item3{
    width: 33%;
    height: 40vh;
    background-color: rgb(57 89 224);
    opacity: 0.9;
}
.banner__item4{
    width: 44%;
    height: 40vh;
    background-color: rgba(50, 70, 156, 0.7);
}
.banner__item5{
    width: 25%;
    height: 40vh;
    background-color: rgba(57, 89, 224, 0.9);
}
.banner__item6{
    width: 33%;
    height: 40vh;
}
.banner__item1 p{
    font-family: 'Gilroy ExtraBold', sans-serif;
     color: white;
     font-size: 50px;
     width: 70%;
     margin-right: 10%;
 }

.banner__item3 p{
    color: white;
    font-size: 25px;
    width: 30%;
    margin-left: 10%;
    margin-top: 10%;
}

.banner__item4 p{
    color: white;
    font-size: 25px;
    width: 65%;
    margin-right: 10%;
    margin-top: 10%;
}
.banner__item5 p{
    color: white;
    font-size: 25px;
    width: 65%;
    margin-left: 10%;
    margin-top: 10%;
}

.banner__btn{
    background-color: #ffdc76;
    width: 45%;
    margin-right: 30%;
    margin-top: 10%;
    padding: 10px;
}
.banner__btn a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.banner__play{
    position: absolute;
    top: 61%;
    left: 45%;
    transform: translate(50%, -50%);
}

/**---- ABOUT ----*/

.about__inner{
    margin-top: 125px;
}

.about__title{
    font-size: 55px;
    color: #3251d2;
}

.about__item p{
    margin-top: 30px;
    font-size: 22px;
    color: #1b172d;
}
/**---- SERVICES ----*/

.services__inner{
    margin-top: 200px;
}

.services__item{
    margin-top: 100px;
}

.services__title{
    font-size: 46px;
    font-family: 'Gilroy Extra Bold', sans-serif;
}

.services__info p{
    font-size: 19px;
    color: #8c9397;
}
.services__btn{
    background-color: #ffdc76;
    width: 45%;
    padding: 10px;
}
.services__btn a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
/**---- FOOTER ----*/
.footer__line{
    background-color: #3251d2;
    height: 60px;
}
.footer__items{
    padding-top: 40px;
    background-color: #3959e0;
    color: white;
    padding-bottom: 40px;
}
.footer__download{
    font-size: 20px;
}
.footer__elem{
    margin-left: 10%;
}
.footer__title{
   margin-top: -60px;
    color: white;
    font-size: 30px;
}
.footer__item{
    margin-top: 40px;
}
.footer__social{
    margin-top: 50px;
    margin-left: 10%;
}
.footer__vk{
    padding: 5px 10px;
    background-color: #3251d2;
}
.footer__inst{
    padding: 5px 10px;
    background-color: #3251d2;
    margin-left: 5px;
}
.footer__wats{
    padding: 5px 10px;
    background-color: #3251d2;
    margin-left: 5px;
}
.footer__vk img{
    filter: grayscale(1) brightness(1000%);
}
.footer__inst img{
    filter: grayscale(1) brightness(1000%);
}
.footer__wats img{
    filter: grayscale(1) brightness(1000%);
}
.footer__item img{
    filter: grayscale(1) brightness(1000%);
}
.footer__politics{
    margin-left: 10%;
    color: #8c9397;
}
/**---- MEDIA ----*/
@media (min-width: 100px) and (max-width: 989.99px){

    li{
        margin-top: 5px;
    }

    .header__social{
        margin-top: 15px;
    }
    .header__toggle{
        font-size: 40px;
        margin-right: 5%;
        cursor: pointer;
    }
    .mobile__menu{
        width: 100%;
        display: flex;
    }
    .mobile__no{
        display: none;
    }
    .mobile__item{
        width: 90%;
    }
    .mobile__item a{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    .mobile__item a:hover{
        color: #8c9397;
    }


    /**---- banner ----*/
    .banner__item1{
        width: 100%;
        height: 40vh;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .banner__item4{
        width: 100%;
        height: 40vh;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .banner__item1 p{
        color: white;
        width: 80%;
        font-size: 5vh;
        margin-top: 5vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .banner__item4 p{
        margin-top: 0;
        width: 80%;
        font-size: 28px;
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .banner__btn{
        background-color: #ffdc76;
        width: 45%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    /**---- about ----*/
    .about__inner{
        margin-top: 75px;
    }
    .about__title{
        text-align: center;
        font-size: 60px;
        color: #3251d2;
    }

    .about__item p{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 22px;
        color: #1b172d;
    }
    /**---- services ----*/
    .services__inner{
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .services__item{
        margin-top: 70px;
    }
    .services__btn{
        margin-top: 30px;
        background-color: #ffdc76;
        width: 50%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .services__title{
        font-size: 40px;
        text-align: center;
        margin-top: 60px;
    }
    .services__info p{
        margin-top: 20px;
    }

    /**---- footer ----*/
    .footer__download{
        font-size: 20px;
    }
    .footer__elem{
        margin-left: 25%;
    }
    .footer__elem1{
        margin-left: 25%;
    }
    .footer__title{
        margin-top: 10px;
        font-size: 20px;
    }
    .footer__item{
        margin-top: 10px;
    }
    .footer__social{
        margin-top: 10px;
        margin-left: 0;
    }
    .footer__politics{
        text-align: center;
    }
}
@media (min-width: 989.99px) and (max-width: 1115.99px){
    .menu__right{
        padding-top: 22px;
        padding-bottom: 21px;
        background-color: #ffdc76;
    }
    .footer__title{
        margin-top: -60px;
        color: white;
        font-size: 25px;
    }
    .footer__item{
        margin-top: 40px;
    }
    .footer__social{
        margin-top: 50px;
        margin-left: 0;
    }

}
